{% extends "tys/homepage.html" %}


{% block content_heading %} 
<p>
<a href="/a/" style="font-size:20px;color:blue;margin:10px;">Add Question</a><br>
<a href="/b/" style="font-size:20px;color:blue;margin:10px;">C.S</a></br>
<a href="/c/" style="font-size:20px;color:blue;margin:10px;">Maths</a></br>
<a href="/d/" style="font-size:20px;color:blue;margin:10px;">GK</a></br>
<a href="/manageuser/" style="font-size:20px;color:blue;margin:10px;">Manage User</a></br><br>


<a href="/removeall/" style="font-size:20px;color:blue;margin:10px;">Remove All</a></br>
<br><br>
{{msg}}
</p>
{% endblock %}
